<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/common_styles.css">
        <link rel="stylesheet" href="../static/linkCU.css">
        <link rel="stylesheet" href="../static/videoPlayer.css">
        <!-- <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool'></script> -->
        <script src="../static/videoPlayer.js"></script>
        <link rel="shortcut icon" href="<%=favicon%>" type="image/x-icon">
        <title><%=title%></title>
        <script src="../static/clientWsConnect.js"></script>
        <script>
            window.addEventListener("DOMContentLoaded",(ev)=>{
                let linkForm = document.querySelector(".main-link-form")
                linkForm.addEventListener("submit",(ev)=>{
                    ev.preventDefault()
                    let formdata = new FormData(linkForm)
                })
            })
            function convertHLS(){
                let email = document.getElementById("email").value
                let paths = window.location.pathname.split("/")
                let linkId = paths[paths.length - 1]
                let persistenceId = sessionStorage.getItem("persistenceId")
                fetch("../api/convert/hls",{
                    headers:{
                        "Content-Type":"application/json"
                    },
                    method:"POST",
                    body:JSON.stringify({
                        email:email,
                        linkId:linkId,
                        persistenceId:persistenceId
                    })
                }).then(Response=>Response.json())
                .then(body=>{
                    addPersister(body.data.persist)
                    console.log(body)
                })
                .catch(error=>{console.log(error)})
            }
        </script>
    </head>
    <body>
        <div class="side-div">
            <%- include('./sections/nav')%>
        </div>
        <main>
            <%- include('./sections/header')%>
            <form class="main-link-form glass card">
                <h1>Create/Edit Link</h1>
                <span>
                    <label for="title">File Title</label>
                    <br>
                    <input type="text" class="light" placeholder="Enter File Title" name="title" id="title" value="<%= data.title %>">
                </span>
                <br>
                <span>
                    <label for="main_link">Main Link</label>
                    <br>
                    <input type="text" class="light" placeholder="Enter Main Link to file" name="main_link" id="main_link" value="<%= data.main_link %>">
                </span>
                <br>
                <span>
                    <label for="alt_link">Alternate Link</label>
                    <br>
                    <input type="text" class="light" placeholder="Enter File Alternate Links" name="alt_link" id="alt_link" value="<%= data.alt_link %>">
                </span>
                <br>
                <span>
                    <label for="subtitles">Subtitle File</label>
                    <br>
                    <input type="file" class="light" accept=".srt,.ttml,.xml,.vtt" id="subtitles" name="subtitles">
                </span>
                <br>
                <span>
                    <label for="preview_img">Preview Image</label>
                    <br>
                    <input type="file" class="light" accept=".png,.jpg" name="preview_img" id="preview_img">
                </span>
                <button>Submit</button>
            </form>
            <section>
                <select name="email" id="email">
                    <% emails.forEach((email) => { %>
                        <option value="<%=email%>"><%=email%></option>
                  <% }) %>
                </select>
            </section>
            <div>
                <div>
                    <h2>My HLS</h2>
                    <ul></ul>
                    <button onclick="convertHLS()">Convert to HLS</button>
                </div>
                <div></div>
            </div>
        </main>
    </body>
</html>