<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/common_styles.css">
    <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool'></script>
    <script src="../static/clientWsConnect.js"></script>
    <link rel="shortcut icon" href="<%=favicon%>" type="image/x-icon">
    <title>Proxy</title>
    <script>
        function appendProxy(){
            let addProxyEl = document.querySelector("#add-proxy")
            let addProx = addProxyEl.value
            if(addProx && addProx != ''){
                let spElmnt = document.createElement("div")
                spElmnt.classList.add("container-with-x")
                spElmnt.setAttribute("data-value",addProx)
                spElmnt.innerHTML = `${addProx}`
                let ElementRemover = document.createElement("p")
                ElementRemover.innerHTML = "x"
                ElementRemover.addEventListener("click",(ev)=>{
                    linksCont.removeChild(spElmnt)
                })
                spElmnt.appendChild(ElementRemover)
                let linksCont = document.querySelector(".proxy")
                linksCont.appendChild(spElmnt)
            }
            addProxyEl.innerHTML = ""
        }
        function addProxy(){
            let addedproxy = []
            let proxyConts = document.getElementsByClassName("container-with-x")
            for(let i = 0; i < proxyConts.length;i++){
                addedproxy.push(proxyConts[i].getAttribute("data-value"))
            }
            fetch("../api/proxies/create",{
                headers:{"Content-Type":"application/json"},
                method:"POST",
                body:JSON.stringify({proxies:addedproxy})
            }).then(Response=>Response.json())
            .then(body=>{
                alert(body)
                window.location.reload()
            })
            .catch(error=>{console.log(error)})
        }
        function deleteProxy(proxy){
            fetch("../api/proxies/delete",{
                headers:{"Content-Type":"application/json"},
                method:"DELETE",
                body:JSON.stringify({proxy:proxy})
            }).then(Response=>Response.json())
            .then(body=>{
                alert(body)
                window.location.reload()
            })
            .catch(error=>{console.log(error)})
        }
        function appendBrokenProxy(){
            let addProxyEl = document.querySelector("#add-broken-proxy")
            let addProx = addProxyEl.value
            if(addProx && addProx != ''){
                let spElmnt = document.createElement("div")
                spElmnt.classList.add("container-with-x-broken")
                spElmnt.setAttribute("data-value",addProx)
                spElmnt.innerHTML = `${addProx}`
                let ElementRemover = document.createElement("p")
                ElementRemover.innerHTML = "x"
                ElementRemover.addEventListener("click",(ev)=>{
                    linksCont.removeChild(spElmnt)
                })
                spElmnt.appendChild(ElementRemover)
                let linksCont = document.querySelector(".proxy-broken")
                linksCont.appendChild(spElmnt)
            }
            addProxyEl.innerHTML = ""
        }
        function addBrokenProxy(){
            let addedproxy = []
            let proxyConts = document.getElementsByClassName("container-with-x-broken")
            for(let i = 0; i < proxyConts.length;i++){
                addedproxy.push(proxyConts[i].getAttribute("data-value"))
            }
            fetch("../api/brokenproxies/create",{
                headers:{"Content-Type":"application/json"},
                method:"POST",
                body:JSON.stringify({proxies:addedproxy})
            }).then(Response=>Response.json())
            .then(body=>{
                alert(body)
                window.location.reload()
            })
            .catch(error=>{console.log(error)})
        }
        function deleteBrokenProxy(proxy){
            fetch("../api/brokenproxies/delete",{
                headers:{"Content-Type":"application/json"},
                method:"DELETE",
                body:JSON.stringify({proxy:proxy})
            }).then(Response=>Response.json())
            .then(body=>{
                alert(body)
                window.location.reload()
            })
            .catch(error=>{console.log(error)})
        }
        function saveProxyAuth(){
            fetch("../api/proxyauth",{
                headers:{"Content-Type":"application/json"},
                method:"POST",
                body:JSON.stringify({proxy_server_username:document.getElementById("proxy-server-username").value,
                                        proxy_server_password:document.getElementById("proxy-server-password").value})
            }).then(Response=>Response.json())
            .then(body=>{
                window.location.reload()
            })
            .catch(error=>{console.log(error)})
        }
    </script>
    <style>
        .go-prev{
            margin-top: 35px;
            margin-bottom: 4px;
        }
        .contains-settings{
            padding-left: 15px;
        }
        h1{
            margin: 0;
            margin-bottom: 15px;
        }
        p,h3{
            margin: 0;
        }
        .gen-sect{
            margin-bottom: 20px;
            display: flex;
        }
        .proxy-table-container{
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
    <div class="side-div">
        <%- include('../sections/nav')%>
    </div>
    <main>
        <div class="go-prev" onclick="history.go(-1)" title="Back">
            <svg fill="#000000" width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g data-name="Layer 2"><g data-name="arrowhead-left">
            <rect width="24" height="24" transform="rotate(90 12 12)" opacity="0"/>
            <path d="M11.64 5.23a1 1 0 0 0-1.41.13l-5 6a1 1 0 0 0 0 1.27l4.83 6a1 1 0 0 0 .78.37 1 1 0 0 0 .78-1.63L7.29 12l4.48-5.37a1 1 0 0 0-.13-1.4z"/>
            <path d="M14.29 12l4.48-5.37a1 1 0 0 0-1.54-1.28l-5 6a1 1 0 0 0 0 1.27l4.83 6a1 1 0 0 0 .78.37 1 1 0 0 0 .78-1.63z"/>
            </g></g></svg>
        </div>
        <div class="contains-settings">
            <h1>Proxy Settings</h1>
            <div class="proxy-table-container">
                <table>
                    <thead>
                        <tr>
                            <td>Proxy</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <% proxies.forEach((proxy)=>{ %>
                            <tr>
                                <td><%= proxy %></td>
                                <td class="bar">
                                    <svg onclick="deleteProxy('<%= proxy %>')" xmlns="http://www.w3.org/2000/svg"  
                                        viewBox="0 0 30 30" width="20px" height="20px">    
                                            <path d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z"/>
                                        </svg>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <td>Broken Proxy</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <% brokenProxies.forEach((proxy)=>{ %>
                            <tr>
                                <td><%= proxy %></td>
                                <td class="bar">
                                    <svg onclick="deleteBrokenProxy('<%= proxy %>')" xmlns="http://www.w3.org/2000/svg"  
                                        viewBox="0 0 30 30" width="20px" height="20px">    
                                            <path d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z"/>
                                        </svg>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="card glassy">
                    <span class="proxy"></span>
                    <span class="bar tab">
                        <h2>Add new Active Proxy</h2>
                        <svg fill="#000000" width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="M10,13H4a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V14A1,1,0,0,0,10,13ZM9,19H5V15H9ZM20,3H14a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V4A1,1,0,0,0,20,3ZM19,9H15V5h4Zm1,7H18V14a1,1,0,0,0-2,0v2H14a1,1,0,0,0,0,2h2v2a1,1,0,0,0,2,0V18h2a1,1,0,0,0,0-2ZM10,3H4A1,1,0,0,0,3,4v6a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V4A1,1,0,0,0,10,3ZM9,9H5V5H9Z"/></svg>
                    </span>
                    <span>
                        <input type="text" name="add-proxy" id="add-proxy" class="light">
                        <button onclick="appendProxy()">Add</button>
                    </span>
                    <button onclick="addProxy()">Submit</button>
                </div>
            </div>
            <div>
                <div class="card glassy">
                    <span class="proxy-broken"></span>
                    <span class="bar tab">
                        <h2>Add new Broken Proxy</h2>
                        <svg fill="#000000" width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="M10,13H4a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V14A1,1,0,0,0,10,13ZM9,19H5V15H9ZM20,3H14a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V4A1,1,0,0,0,20,3ZM19,9H15V5h4Zm1,7H18V14a1,1,0,0,0-2,0v2H14a1,1,0,0,0,0,2h2v2a1,1,0,0,0,2,0V18h2a1,1,0,0,0,0-2ZM10,3H4A1,1,0,0,0,3,4v6a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V4A1,1,0,0,0,10,3ZM9,9H5V5H9Z"/></svg>
                    </span>
                    <span>
                        <input type="text" name="add-broken-proxy" id="add-broken-proxy" class="light">
                        <button onclick="appendBrokenProxy()">Add</button>
                    </span>
                    <button onclick="addBrokenProxy()">Submit</button>
                </div>
            </div>
            <div class="glassy">
                <h2>Proxy Authentication</h2>
                <div>
                    <span>
                        <label for="proxy-server-username">Proxy Server Username</label>
                        <br>
                        <input type="text" name="proxy-server-username" id="proxy-server-username" class="light" value="<%= settings.proxyUser %>">
                    </span>
                    <br>
                    <span>
                        <label for="proxy-server-password">Proxy Server Password</label>
                        <br>
                        <input type="text" name="proxy-server-password" id="proxy-server-password" class="light" value="<%= settings.proxyPass %>">
                    </span>
                    <button onclick="saveProxyAuth()">Save</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>