<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="shortcut icon" href="<%=favicon%>" type="image/x-icon">
    <!-- <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool'></script> -->
    <script src="../static/videoPlayer.js"></script>
    <script src="../static/adplayer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/p2p-media-loader-core@latest/build/p2p-media-loader-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p2p-media-loader-hlsjs@latest/build/p2p-media-loader-hlsjs.min.js"></script>
    <link rel="stylesheet" href="../static/videoPlayer.css">
    <script>
        let isHls = true
        window.addEventListener("DOMContentLoaded",async()=>{
            /* const player = new GDPlyr("video",{sources:[
                {src:"<%=videoLink%>",title:"Despicable Me 4",subtitle:"http://localhost:3000/Despicable Me 4 (2024) (Awafim.tv).srt"},
            ]}) */
            const player = new GDPlyr("video",{sources:[
                {src:"",title:"Despicable Me 4",subtitle:"http://localhost:3000/Despicable Me 4 (2024) (Awafim.tv).srt"},
            ]})
            let engine = new p2pml.hlsjs.Engine()
            if(isHls && engine){
                let hls = new Hls({
                    liveSyncDurationCount: 7,
                    loader: engine.createLoaderClass()
                })
                //hls.loadSource('<%=videoLink%>')
                hls.loadSource('')
                hls.attachMedia(player.videoElement)
            }
            let response = await fetch("../api/ads/request")
            let data = await response.json()
            let adplayer = new AdLoader('video',data.popUpAds,data.vastAds)
        })
    </script>
</head>
<body>
    <%- include('../sections/videolink')%>
    <video id="video" width="600px" height="400px" type='video/x-matroska; codecs="theora, vorbis"'></video>
</body>
</html>